
@model MvcPaging.IPagedList<DemoAuthentication.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{DemoAuthentication.Models.UserModel a = new DemoAuthentication.Models.UserModel();}
 <div id="divSearch">
        @{Html.RenderPartial("_SearchControl", a);}
    </div>
    <div id="divGrid">
            @{Html.RenderPartial("_ListControl", this.Model);}
    </div>
    

    <script type="text/javascript">

        function beginPaging(args) {
            // Animate
            $('#divGrid').fadeOut('slow');
        }

        function successPaging() {
            // Animate
            $('#divGrid').fadeIn('slow');

        }

        function failurePaging() {
            alert("Could not retrieve contacts.");
        }

    </script>

