@{
    ViewBag.Title = "AdminPanel";
}

<h2>Admin Panel</h2>
<div>
    @Html.ActionLink("Quản Lý Tạm Trú", "Index", "TamTru")
</div>
<div>
    @Html.ActionLink("Quản Lý Tài Khoản", "Index", "User")
</div>
