@{
    ViewBag.Title = "Success";
}

<h2>Thao tác  đăng ký hoàn tất. Hãy kiếm tra email của bạn trong khoảng 24h tới để nhận kết quả</h2>
<div>
    @Html.ActionLink("Back to List", "Index","Home")
</div>